/LazyCure.Core/bin
/LazyCure.Core/obj
/LazyCure.UI/bin
/LazyCure.UI/obj
/LazyCure.Shared/obj
/LazyCure.Shared/bin
/LazyCure/bin
/LazyCure/obj
/LazyCure.Tests/bin
/LazyCure.Tests/obj
/TimeLanguage/bin
/TimeLanguage/obj
/TimeLanguage.Tests/bin
/TimeLanguage.Tests/obj
/LazyCure.Core.Tests/bin
/LazyCure.Core.Tests/obj
/LazyCure.Shared.Tests/bin
/LazyCure.Shared.Tests/obj
/LazyCure.UI.Tests/bin
/LazyCure.UI.Tests/obj
